.game-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.game-area {
    display: flex;
    flex-direction: column;
}

.game-controls {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 180px;
    padding: 20px;
    border: 1px solid black;
    gap: 20px;
}

.game-info h2 {
    margin: 0;
}



.canvas-container {
    position: relative;
}

#gameCanvas {
    display: block;
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.7);

    z-index: 10;
}

.game-over-screen h2 {
    font-size: 50px;
}

.game-over-screen p {
    font-size: 25px;
}

#restartButton {
    position: relative;
    z-index: 11;
}